issuers:
  bcreg:
    name: Corporations Canada
    abbreviation: CorporationsCanada
    url: https://corporationscanada.ic.gc.ca/eic/site/cd-dgc.nsf/eng/home
    email: ic.corporationscanada.ic@canada.ca
    logo_path: ../assets/img/sig-blk-en.png
    endpoint: $ENDPOINT_URL

    details:
      label_en: Corporations Canada
      abbreviation_en: CorporationsCanada
      url_en: https://corporationscanada.ic.gc.ca/eic/site/cd-dgc.nsf/eng/home
      label_fr: Corporations Canada
      abbreviation_fr: CorporationsCanada
      url_fr: https://corporationscanada.ic.gc.ca/eic/site/cd-dgc.nsf/fra/accueil
      email: ic.corporationscanada.ic@canada.ca
      logo_path: ../assets/img/sig-blk-en.png
      endpoint: $ENDPOINT_URL

    credential_types:
      - schema: registration.cc.orgbook.canada.ca
        issuer_url: $APPLICATION_URL_INCORP/
        description: TODO
        details:
          label_en: Incorporation
          url_en: $APPLICATION_URL_INCORP
        credential:
          effective_date:
            input: effective_date
            from: claim
          inactive:
            input: entity_status
            from: claim
            processor:
              - goc.entity_status.is_historical
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          label_en: Incorporation
          source_id:
            input: registration_id
            from: claim
          type:
            input: registration.cc.orgbook.canada.ca
            from: value
        mapping:
          - model: name
            fields:
              type:
                input: entity_name
                from: value
              text:
                input: entity_name
                from: claim
          - model: attribute
            fields:
              type:
                input: registration_date
                from: value
              format:
                input: datetime
                from: value
              value:
                input: registration_date
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_name_effective
                from: value
              format:
                input: datetime
                from: value
              value:
                input: entity_name_effective
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_status
                from: value
              format:
                input: category
                from: value
              value:
                input: entity_status
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_status_code
                from: value
              format:
                input: category_code
                from: value
              value:
                input: entity_status
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_status_effective
                from: value
              format:
                input: datetime
                from: value
              value:
                input: entity_status_effective
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_type
                from: value
              format:
                input: category
                from: value
              value:
                input: entity_type
                from: claim
          - model: attribute
            fields:
              type:
                input: directors_min
                from: value
              value:
                input: directors_min
                from: claim
          - model: attribute
            fields:
              type:
                input: directors_max
                from: value
              value:
                input: directors_max
                from: claim
          - model: attribute
            fields:
              type:
                input: business_number
                from: value
              value:
                input: business_number
                from: claim
          - model: attribute
            fields:
              type:
                input: civic_address
                from: value
              value:
                input: civic_address
                from: claim
          - model: attribute
            fields:
              type:
                input: municipality
                from: value
              value:
                input: municipality
                from: claim
          - model: attribute
            fields:
              type:
                input: province
                from: value
              format:
                input: jurisdiction
                from: value
              value:
                input: province
                from: claim
          - model: attribute
            fields:
              type:
                input: country
                from: value
              format:
                input: jurisdiction
                from: value
              value:
                input: country
                from: claim
          - model: attribute
            fields:
              type:
                input: postal_code
                from: value
              value:
                input: postal_code
                from: claim
          - model: attribute
            fields:
              type:
                input: registered_jurisdiction
                from: value
              format:
                input: jurisdiction
                from: value
              value:
                input: registered_jurisdiction
                from: claim
      - schema: relationship.cc.orgbook.canada.ca
        issuer_url: $APPLICATION_URL_DBA
        description: TODO
        details:
          label_en: Relationship
          url_en: $APPLICATION_URL_DBA
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          related_source_id:
            input: associated_registration_id
            from: claim
          related_type:
            input: registration.cc.orgbook.canada.ca
            from: value
          source_id:
            input: registration_id
            from: claim
          type:
            input: registration.cc.orgbook.canada.ca
            from: value
        cardinality_fields:
          - associated_registration_id
          - relationship
        mapping:
          - model: attribute
            fields:
              type:
                input: relationship
                from: value
              format:
                input: category
                from: value
              value:
                input: relationship
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_description
                from: value
              value:
                input: relationship_description
                from: claim
          - model: attribute
            fields:
              type:
                input: associated_registration_name
                from: value
              value:
                input: associated_registration_name
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_status
                from: value
              format:
                input: category
                from: value
              value:
                input: relationship_status
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_status_effective
                from: value
              format:
                input: datetime
                from: value
              value:
                input: relationship_status_effective
                from: claim
      - schema: organization.address.cc.orgbook.canada.ca
        issuer_url: $APPLICATION_URL_ADDRESS
        description: TODO
        details:
          label_en: Corporate Address
          url_en: $APPLICATION_URL_ADDRESS
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          source_id:
            input: registration_id
            from: claim
          type:
            input: registration.cc.orgbook.canada.ca
            from: value
        mapping:
          - model: address
            fields:
              addressee:
                input: addressee
                from: claim
              civic_address:
                input: civic_address
                from: claim
              municipality:
                input: municipality
                from: claim
              province:
                input: province
                from: claim
              country:
                input: country
                from: claim
              postal_code:
                input: postal_code
                from: claim
      - schema: person.address.cc.orgbook.canada.ca
        issuer_url: $APPLICATION_URL_ADDRESS
        description: TODO
        details:
          label_en: Verified Person Address
          url_en: $APPLICATION_URL_ADDRESS
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          source_id:
            input: registration_id
            from: claim
          type:
            input: verified_person.cc.orgbook.canada.ca
            from: value
        mapping:
          - model: address
            fields:
              addressee:
                input: addressee
                from: claim
              civic_address:
                input: civic_address
                from: claim
              municipality:
                input: municipality
                from: claim
              province:
                input: province
                from: claim
              country:
                input: country
                from: claim
              postal_code:
                input: postal_code
                from: claim
      - schema: business_number.cra.orgbook.canada.ca
        issuer_url: $APPLICATION_URL_ADDRESS
        description: TODO
        details:
          label_en: Corporate Business Number
          url_en: $APPLICATION_URL_ADDRESS
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          source_id:
            input: registration_id
            from: claim
          type:
            input: registration.cc.orgbook.canada.ca
            from: value
        cardinality_fields:
          - business_number
        mapping:
          - model: attribute
            fields:
              type:
                input: business_number
                from: value
              value:
                input: business_number
                from: claim
      - schema: verified_person.cc.orgbook.canada.ca
        issuer_url: $APPLICATION_URL_ADDRESS
        description: TODO
        details:
          label_en: Verified Person
          url_en: $APPLICATION_URL_ADDRESS
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          source_id:
            input: registration_id
            from: claim
          type:
            input: verified_person.cc.orgbook.canada.ca
            from: value
        mapping:
          - model: name
            fields:
              type:
                input: full_name
                from: value
              text:
                input: full_name
                from: claim
          # - model: attribute
          #   fields:
          #     type:
          #       input: entity_status
          #       from: value
          #     format:
          #       input: category
          #       from: value
          #     value:
          #       input: entity_status
          #       from: claim
          - model: attribute
            fields:
              type:
                input: first_name
                from: value
              value:
                input: first_name
                from: claim
          - model: attribute
            fields:
              type:
                input: last_name
                from: value
              value:
                input: last_name
                from: claim
          - model: attribute
            fields:
              type:
                input: email_address
                from: value
              value:
                input: email_address
                from: claim
          - model: attribute
            fields:
              type:
                input: phone_number
                from: value
              value:
                input: phone_number
                from: claim
          - model: attribute
            fields:
              type:
                input: canadian_residency
                from: value
              format:
                input: category
                from: value
              value:
                input: canadian_residency
                from: claim
      - schema: person_relationship.cc.orgbook.canada.ca
        issuer_url: $APPLICATION_URL_DBA
        description: TODO
        details:
          label_en: Relationship
          url_en: $APPLICATION_URL_DBA
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          related_source_id:
            input: associated_registration_id
            from: claim
          related_type:
            input: registration.cc.orgbook.canada.ca
            from: value
          source_id:
            input: registration_id
            from: claim
          type:
            input: verified_person.cc.orgbook.canada.ca
            from: value
        cardinality_fields:
          - associated_registration_id
          - relationship
        mapping:
          - model: attribute
            fields:
              type:
                input: relationship
                from: value
              format:
                input: category
                from: value
              value:
                input: relationship
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_description
                from: value
              value:
                input: relationship_description
                from: claim
          - model: attribute
            fields:
              type:
                input: associated_registration_name
                from: value
              value:
                input: associated_registration_name
                from: claim
      - schema: org_relationship.cc.orgbook.canada.ca
        issuer_url: $APPLICATION_URL_DBA
        description: TODO
        details:
          label_en: Relationship
          url_en: $APPLICATION_URL_DBA
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          related_source_id:
            input: associated_registration_id
            from: claim
          related_type:
            input: verified_person.cc.orgbook.canada.ca
            from: value
          source_id:
            input: registration_id
            from: claim
          type:
            input: registration.cc.orgbook.canada.ca
            from: value
        cardinality_fields:
          - associated_registration_id
          - relationship
        mapping:
          - model: attribute
            fields:
              type:
                input: relationship
                from: value
              format:
                input: category
                from: value
              value:
                input: relationship
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_description
                from: value
              value:
                input: relationship_description
                from: claim
          - model: attribute
            fields:
              type:
                input: associated_registration_name
                from: value
              value:
                input: associated_registration_name
                from: claim

verifiers:
  bctob:
    name: OrgBook Canada
    alias: tob-agent
    connection:
      type: TheOrgBook
      agent_admin_url: $TOB_AGENT_ADMIN_URL
